/* My custom style for the Assignment 2 */

*{
	box-sizing: border-box;
}

body{
	height: auto;
	margin: 2em;
    font-family: 'Nunito', sans-serif;
}
footer{
	padding: 3em;
}
/*
	******** Block Chiken ********
*/

.block-chicken{
	display: inline-block;
	position: relative;
	width: 31%;
	height: auto;
	border: 1px solid black;
	color: #FFF;
	background-color: #6e6e6e;
	text-align: justify;
}
.title-chicken{
	position: absolute;
	width: 50%;
	left: 50%;
	text-align: center;
	padding: .2em;
	color: white;
	margin-top: 0;
	background-color: #d7b10f;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.text-chicken{padding: 35px 25px 10px 25px;}

/*
	******** Block Beef ********
*/

.block-beef{
	display: inline-block;
	width: 31%;
	height: auto;
	border: 1px solid black;
	position: relative;
	margin: 20px 3% 20px 3%;
	color: #FFF;
	background-color: #6e6e6e;
	text-align: justify;
}
.title-beef{
	position: absolute;
	width: 50%;
	left: 50%;
	background-color: #9a2a0c;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	color: white;
	margin-top: 0;
	padding: .2em;
}
.text-beef{padding: 35px 25px 10px 25px;}

/*
	******** Block Sushi ********
*/

.block-sushi{
	display: inline-block;
	width: 31%;
	height: auto;
	border: 1px solid black;
	position: relative;
	color: #FFF;
	background-color: #6e6e6e;
	text-align: justify;
}
.title-sushi{
	position: absolute;
	width: 50%;
	left: 50%;
	background-color: #349428;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	color: white;
	margin-top: 0;
	padding: .2em;
}
.text-sushi{padding: 35px 25px 10px 25px;}


/*
	******** Media Queries ********
*/


/* Screen Tablet window is between 768px and 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {

	.block-chicken{width: 48%;}
	.title-chicken{width: 40%;left: 60%;}

	.block-beef{width: 48%;margin: 20px 0px 32px 3%;}
	.title-beef{width: 40%;left: 60%;}

	.block-sushi{width: auto;}
	.title-sushi{width: 25%;left: 75%;}
}


/* Screen Mobile window is between 767px*/
@media screen and (max-width: 767px) {

	.block-chicken{width: auto;}

	.block-beef{width: auto;margin: 32px 0px 32px 0px;}

	.block-sushi{width: auto;}
}
